<html>
<ul>
	<style>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: CadetBlue;
		}
	li {
		display: inline-block;
		text-align: center;
		height: 20px
		padding-left: 0px;
		padding-right: 0px;
		}
	</style>
	<li>Home</li>
	<li>Classifier</li>
	<li>About</li>
	<li>Contact</li>
	
</ul>
	
<head>
	<style>
	body {
		background-color: #395E60;
		text-align: center;
		}
	h1 {
		color: white;
		font-size: 300%;
		text-align: center;
		}
	p {color:white;}
	</style>
		<title>Test</title>
</head>
<body>
	
	<h1>TESTSITE</h1>
	<p>{{test_words}} {{test_word2}}</p>
	
</body>
</html>
